.results {
    display: grid;
    justify-content: center;
    gap: 20px 30px;
    grid-template-columns: repeat(auto-fit, 200px);
    width: auto;
    padding: 10px 20px;
}

.result-count {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.result-count-text {
    margin: 0;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
