@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-SemiBold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-MediumItalic.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url(./fonts/Montserrat-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

:root {
    --main-bg-color: #F0F0F0;
    --emph-bg-color: #D4D2BD;
    --emph-bg-color-darker: #C2BE8C;
}

html {
    overscroll-behavior: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

.hidden {
    display: none;
}