.dropdown-menu {
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff;
    width: 200px;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat";
}

.dropdown-button {
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 10px 15px;
    height: 20px;
}

.dropdown-button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border-bottom: 2px solid #b0b0b0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    content: "";
}

.dropdown-text {
    flex-grow: 1;
}

.dropdown-list {
    position: absolute;
    top: 30px;
    z-index: 2;
    margin: 0;
    box-shadow: 0px 10px 5px #b0b0b0cc;
    border-radius: 0 0 10px 10px;
    background-color: inherit;
    padding: 10px 5px 0 5px;
    width: 190px;
    list-style: none;
}

.dropdown-item:not(:first-child) {
    border-top: 2px solid #b0b0b0;
}

.dropdown-item {
    padding: 5px 0;
}

.dropdown-item > span {
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding-left: 10px;
    height: 30px;
}

.dropdown-item:hover > span {
    background-color: #e0e0e0;
}
