p,
span {
    margin: 0;
}

.details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    min-height: 500px;
    font-family: "Montserrat", sans-serif;
}

.details-page-book {
    display: flex;
    flex-grow: 1;
    border-radius: 20px;
    background-color: var(--emph-bg-color);
    width: 90vw;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.details-page-nav {
    width: 90vw;
}

.details-page-book-image {
    height: calc(100vh - 100px);
}

.details-page-book-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
}

.details-page-book-info-title {
    margin: 0;
    font-size: 32px;
}

.details-page-book-info-authors-date {
    margin: 5px 0;
    font-size: 16px;
    font-family: "Trebuchet MS", sans-serif;
}

.details-page-book-info-description {
    padding-right: 15px;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
}

.details-page-book-info-properties {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details-page-book-info-categories {
    max-height: 3lh;
    overflow: hidden;
}

@media (hover: hover) {
    .details-page-book-info-description:hover {
        overflow-y: scroll;
    }
}

@media (hover: none) {
    .details-page-book-info-description {
        overflow-y: scroll;
    }
}

@media (max-width: 1000px) {
    .details-page-nav {
        width: auto;
    }

    .details-page-book {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: var(--main-bg-color);
        height: inherit;
    }

    .details-page-book-image {
        border-radius: 10px;
        max-width: 90vw;
        max-height: 60vh;
    }

    .details-page-book-info-title {
        font-size: 24px;
    }

    .details-page-book-info {
        border-radius: 20px;
        background-color: var(--emph-bg-color);
        padding: 20px;
    }

    .details-page-book-info-description {
        max-height: 10lh;
        font-size: 16px;
    }
}
